{% extends "recipes/base.html" %}

{% load widget_tweaks %}
{% block content %}
    {% load static %}
    <h3>Add your Recipe</h3>
    <form method="GET" novalidate>
        {% csrf_token %}
        {% for field in form.visible_fields %}
            <div class="form-group col-lg-6">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% if field.label == "Veg indicator" %}
                    {{field}}
                {% elif field.label == "Ingredients" %}
                    <button class="btn" type="button" onclick="addInput()"><i class="fa fa-plus"></i></button>
                    <div id="ingreDiv">
                        <div id="row0">
                            <input type="text" id="item" placeholder="item e.g. salt">
                            <input type="text" id="amount" placeholder="amount e.g. 2 teaspoons">
                            <p></p>
                        </div>
                    </div>
                {% else %}
                    {{ field|add_class:'form-control' }}
                {% endif %}
                <small class="text-muted">{{ field.help_text }}</small>
                <p></p>
            </div>
        {% endfor %}
        <button id="add-recipe" class="btn btn-primary" type="submit">Update recipe</button>
    </form>
    <script src="{% static 'recipes/js/updateRecipesForm.js' %}"></script>
{% endblock %}